@model IEnumerable<LeadDetailsEntity>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped" style="overflow-y:auto;">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.id</td>
						<td>@item.Nombre</td>
						<td>@item.Precio</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<button onclick="actualizar">Actualizar</button>
</div>